<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>

	<table>
	<!-- el valor a capturar del formulario ES EL MISMO NOMBRE DE LA CLASE INSTANCIADA PERO EN LOWERCAMELCASE y sus propiedades con sus nombres normales. -->
	<tr th:each = "alias:${homeArticles}">


	<td th:text = "${alias.name}"></td>
	<td th:text = "${alias.price}"></td>
	<td th:text = "${alias.version}"></td>
	
		
	</tr>
	</table>
    <a href="/form">Submit another message</a>
</body>
</html>